<h3>Detalles del empleado</h3>
<div>
    <div>
        <label>
            <b>ID:</b>{{empleado.id}}
        </label>
    </div>
    <div>
        <label>
            <b>Nombre:</b>{{empleado.nombre}}
        </label>
    </div>
    <div>
        <label>
            <b>Apellido:</b>{{empleado.apellido}}
        </label>
    </div>
    
    <div>
        <label>
            <b>Área de estudio:</b>{{empleado.area}}
        </label>
    </div>
    <div>
        <label>
            <b>Especialidad:</b>{{empleado.especialidad}}
        </label>
    </div>
    
    <div>
        <label>
            <b>Nivel académico:</b>{{empleado.nivel}}
        </label>
    </div>
    <div>
        <label>
            <b>Motivo de registro:</b>{{empleado.motivo_registro }}
        </label>
    </div>
</div>