<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleado</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required
                placeholder="Digite su nombre..." minlength="4" maxlength="10" #nombre="ngModel">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors['required']">
                    Digite un nombre correcto
                </div>
                <div *ngIf="nombre.errors['minlength']">
                    Su nombre es muy corto
                </div>
                <div *ngIf="nombre.errors['maxlength']">
                    Su nombre es muy largo
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Apellido:</label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" name="apellido"
                required placeholder="Digite su apellido..." #apellido="ngModel">
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                <div *ngIf="apellido.errors['required']">
                    Digite un apellido correcto
                </div>
                <div *ngIf="apellido.errors['minlength']">
                    Su apellido es muy corto
                </div>
                <div *ngIf="apellido.errors['maxlength']">
                    Su apellido es muy largo
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="empleado.email" name="email" required
                placeholder="Digite su email..." #email="ngModel"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors['required']">
                    Digite un email correcto
                </div>
                <div *ngIf="email.errors['pattern']">
                    Su email no es correcto
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña:</label>
            <input type="contrasena" class="form-control" id="contrasena" [(ngModel)]="empleado.contrasena"
                name="contrasena" required placeholder="Digite su contraseña..." #contrasena="ngModel"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
            <div class="alert alert-danger" *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
                <div *ngIf="contrasena.errors['required']">
                    Digite una contraseña correcta
                </div>
                <div *ngIf="contrasena.errors['pattern']">
                    Su contraseña no es correcta
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Área de estudio:</label>
            <select type="area" id="area" [(ngModel)]="empleado.area" name="area" required #area="ngModel">>
                <option value="Matemáticas">Matemáticas</option>
                <option value="Literatura">Literatura</option>
                <option value="Sistemas">Sistemas</option>
            </select>
            <div class="alert alert-danger" *ngIf="area.invalid && (area.dirty || area.touched)">
                <div *ngIf="area.errors['required']">
                    Seleccione un áre de estudio
                </div>                
            </div>
        </div>
        <div class="form-group">
            <label>Especialidad:</label>
            <input type="especialidad" class="form-control" id="especialidad" [(ngModel)]="empleado.especialidad"
                name="especialidad" required placeholder="Seleccione su especialidad..." maxlength="100"
                #especialidad="ngModel">
            <div class="alert alert-danger"
                *ngIf="especialidad.invalid && (especialidad.dirty || especialidad.touched)">
                <div *ngIf="especialidad.errors['required']">
                    Seleccione una especialidad
                </div>
                <div *ngIf="especialidad.errors['maxlength']">
                    Su especialidad no es correcta
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Tipo de usuario:</label>
            <select type="tipo_usuario" id="tipo_usuario" [(ngModel)]="empleado.tipo_usuario" name="tipo_usuario" required #tipo_usuario="ngModel">>
                <option value="Estudiante">Estudiante</option>
                <option value="Profesor">Profesor</option>
            </select>
            <div class="alert alert-danger"
                *ngIf="tipo_usuario.invalid && (tipo_usuario.dirty || tipo_usuario.touched)">
                <div *ngIf="tipo_usuario.errors['required']">
                    Seleccione un tipo de usuario
                </div>
                <div *ngIf="tipo_usuario.errors">
                    Su tipo de usuario no es correcto
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Nivel académico:</label>
            <select type="nivel" id="nivel" [(ngModel)]="empleado.nivel" name="nivel" required #nivel="ngModel">>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
                <option value="Tercer nivel">Tercer nivel</option>
                <option value="Cuarto nivel">Cuarto nivel</option>
            </select>
            <div class="alert alert-danger" *ngIf="nivel.invalid && (nivel.dirty || nivel.touched)">
                <div *ngIf="nivel.errors['required']">
                    Seleccione su nivel académico
                </div>
                <div *ngIf="nivel.errors">
                    Su nivel académico no es correcto
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Motivo de registro:</label>
            <select type="motivo_registro" id="motivo_registro" [(ngModel)]="empleado.motivo_registro" name="motivo_registro" required #motivo_registro="ngModel">>
                <option value="Académicos">Académicos</option>
            </select>
            <div class="alert alert-danger"
                *ngIf="motivo_registro.invalid && (motivo_registro.dirty || motivo_registro.touched)">
                <div *ngIf="motivo_registro.errors['required']">
                    Seleccione un motivo de registro correcto
                </div>
                <div *ngIf="motivo_registro.errors">
                    Su motivo de registro no es correcto
                </div>
            </div>
        </div>
        <button class="btn btn-success" [disabled]="empleadoForm.form.invalid">Guardar</button>
    </form>
</div>