<h2>Lista de usuarios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Área de estudio</th>
            <th>Especialidad</th>
            <th>Tipo de usuario</th>
            <th>Nivel académico</th>
            <th>Motivo de registro</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let empleado of empleados">
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.email}}</td>
                <td>{{empleado.area}}</td>
                <td>{{empleado.especialidad}}</td>
                <td>{{empleado.tipo_usuario}}</td>
                <td>{{empleado.nivel}}</td>
                <td>{{empleado.motivo_registro}}</td>
                <td>
                    <div style="display: flex;">
                        <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-info">Editar Perfil</button>
                        <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar </button>
                        <button (click)="verDetallesEmpleado(empleado.id)" class="btn btn-primary" style="margin-left: 10px;">Detalles</button>
                    </div>                    
                </td>
            </tr>
    </tbody>
</table>
