<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="empleados" routerLinkActive="active" class="nav-link">Lista de usuarios</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrar-empleado" routerLinkActive="active" class="nav-link">Añadir usuario</a>
        </li>
        <li class="nav-item">
            <a routerLink="profesores" routerLinkActive="active" class="nav-link">Profesores disponibles</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>